@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
    background: linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%), 
}

#landing {
    background: linear-gradient(60deg, #E38F2D 30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, #F4DF9E 60%, #D45D37 30%);
}

#projects {
    background: linear-gradient(90deg, #99BF72 60%, #00896F 40%);
}

#contact {
    background: #E38F2D;
}

img {
    line-height: 0;
    display: block;
}

.contact-link {
    color: #F4DF9E;
}

.contact-link:hover {
    color: #00896F;
}